<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup] = "usuario">
        <ion-item>
          <ion-input labelPlacement ="floating" formControlName="correo" type="email">
            <div slot="label">correo</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement ="floating" formControlName="contraseña" type="password" >
            <div slot="label">contraseña</div>
          </ion-input>
        </ion-item>
      </form>
      <br>
      <div class="boton">
        <ion-button (click)="iniciarSeccion()" slot="end" color="verde-1" type="sumit">Iniciar Seccion</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
