// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    /* Mis estilos */
    /*verde 1*/
    --ion-color-verde-1: #92C01B;
	--ion-color-verde-1-rgb: 146,192,27;
	--ion-color-verde-1-contrast: #000000;
	--ion-color-verde-1-contrast-rgb: 0,0,0;
	--ion-color-verde-1-shade: #80a918;
	--ion-color-verde-1-tint: #9dc632;

    /*verde 2*/

    /*amarillo 1*/
    /**/
}
