h2{
    display: flex;
    justify-content: center;
}

ion-col {
    text-align: center;
  }
  
ion-row {
    height: 150px;
}

.header-main{
    background-color: #92C01B;
}

.menu-opcion{
    background-color: red;
    border-radius: 12px;
    box-shadow: 0 0 0, 0 10 gray, 0 20 gray, 0 0 0;
    height: 100%;
    width: 100%;
}

