

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="green-1">
      <ion-title>Ruta al día</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="logo">
      <img alt="Logo" src="../../assets/images/Logo de ruta al dia.png">
      <h3>Ruta al día</h3>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <a [routerLink] = "['/ruta-menu']">
            <div  class="menu-opcion">
              <img alt="" src="../../assets/images/autobus.png">
              <ion-text><strong>Seleccionar destino</strong></ion-text>
            </div>
          </a>
        </ion-col>
        <ion-col>
          <a [routerLink] = "['/notificaciones']">
            <div  class="menu-opcion">
              <img alt="" src="../../assets/images/bell.png">
              <ion-text><strong>Notificaciones</strong></ion-text>
            </div>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a [routerLink] = "['/boletos']">
            <div  class="menu-opcion">
              <img alt="" src="../../assets/images/tickets.png">
              <ion-text><strong>Comprar boleto</strong></ion-text>
            </div>
          </a>
        </ion-col>
        <ion-col>
          <a [routerLink] = "['/cuenta']">
            <div  class="menu-opcion">
              <img alt="" src="../../assets/images/perfil_icon_1.png">
              <ion-text><strong>Cuenta</strong></ion-text>
            </div>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <h2></h2>
  </ion-footer>
</div>



