h2{
    display: flex;
    justify-content: center;
}

ion-col {
    text-align: center;
  }
  
ion-row {
    height: 150px;
}

ion-toolbar, ion-header{
    background: var(--ion-color-verde-1);
}

.logo{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.menu-opcion{
    background-color: rgb(236, 214, 87);
    border-radius: 12px;
    box-shadow: 0 0 0, 0 10 gray, 0 20 gray, 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-opcion img{
    width: 64px;
    height: 64px;
}

a{
    text-decoration: none;
}

ion-text strong{
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

ion-footer{
    background: var(--ion-color-verde-1);
}

